
:root{
  --main-theme:#1abc9c;
  font-size: 16px;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


/* Month header */
.month {
    padding: 2.5rem 0rem;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.calendarHead{
  color:rgb(231, 231, 231);
}

/*box around calendar content*/
.monthContent{
  display: flex;
  justify-content: space-between;
 }
 

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    padding-top: 10px;
    transition: all .5s ease;
}

.month .prev:hover{
  font-size: 2.5em;
  color: black;
}

/* Next button */
.month .next {
    padding-top: 10px;
    transition: all .5s ease;    
}

.month .next:hover{
  font-size: 2.5em;
  color: black;
}
/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* My styles*/

.headerFlex{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: lightblue;
  font-size: 1.5rem;
}

.headerRight{
  display: flex;
  font-size: 1.1rem;
  flex-direction: column;
  justify-content: center;
}

.headerRight a{
  padding: .5rem .5rem;
  text-decoration: none;
  color: rgb(56, 160, 192);
  transition: all .3s ease-in
}

.headerRight a:hover{
  background-color: var(--main-theme);
}

.days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 5rem)
}

.days li{
  text-align: left;
  font-size: 1.2rem;
  transition: all .3s ease
}

.days li:hover{
  background-color: var(--main-theme);
  color:white
}